h1 {
    color: crimson;
}
h2 {
    color: #00a58c;
}
h3 {
    color: #0f5;
}
h4 {
    color: #ff548755;
}
h5 {
    color: #f585;
}
h6 {
    color: rgb(200, 0, 200);
}
p {
    color: RGBA(139, 220, 250,0.5);
}